# # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules

/static

/.next

.env
.env.development
.env.production

/.idea

todo.txt

next-env.d.ts

.specstory/.what-is-this.md

public/sw*
public/swe-worker*

prisma/generated

firebase.json
/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
